/* body, .App {
  overflow-x: hidden;
} */

/* * {
  outline: 1px solid red;
}  */



.btn {
    outline: none !important;
    box-shadow: none !important;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.article-content h3 {
  margin-bottom: 0.5rem; }

html, body {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}