@import "tailwindcss";

:root {
  --typography-primary: 'Dm Sans';
}

*,
html,
body {
 font-family: "Onest", sans-serif;
}

html, body {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

